nav ul {
    display: block;
}

.product-grid {
    display: grid;
    grid-template-columns: auto;
  }

.container1{
    width: 100%;
    padding: 10px;
}

.product h3{
    text-align: center;
}


.contact-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form form
{
    text-align: left;
}
